.center.nice-margin.background
  %button#user-tweets-btn 投稿
  %button#user-profile-btn 资料
  %button#user-rank-btn 评价
#user-tweets
  %p= "#{@user.nickname}さんの投稿一覧"
  - @tweets.each do |t|
    .post{ style: 'margin: 20px auto;display: none;' }
      %dl.compact
        %dt= 'Start date:'
        %dd= t.start_date
        %dt= 'End date:'
        %dd= t.end_date
        %dt= 'Place:'
        %dd= t.place
        %dt= 'People:'
        %dd= t.people
        %dt= 'Text:'
        %dd= t.text
    = render 'layouts/tweets', nickname: @nickname, t: t
  = paginate @tweets

#user-profile
  - if @user.profile
    = image_tag @user.profile.pic.url(:thumb)
    %dl.compact
      %dt= 'name:'
      %dd= @user.profile.name 
      %dt= 'nickname:'
      %dd= @user.profile.nickname 
      %dt= 'gender:'
      %dd= @user.profile.gender 
      %dt= 'birthday:'
      %dd= @user.profile.birthday 
      %dt= 'area:'
      %dd= @user.profile.area 
      %dt= 'hometown:'
      %dd= @user.profile.hometown 
      %dt= 'car:'
      %dd= @user.profile.car 
      %dt= 'how_long:'
      %dd= @user.profile.how_long 
      %dt= 'hobby:'
      %dd= @user.profile.hobby 
      %dt= 'good_at:'
      %dd= @user.profile.good_at 
      %dt= 'slogan:'
      %dd= @user.profile.slogan 
    - if @user.id == current_user.id
      %button
        = link_to edit_profile_path do
          %i.fa.fa-pencil-square-o{ style: 'font-size: 30px;' }
  - else
    - if @user.id == current_user.id
      %button
        = link_to new_profile_path do
          %i.fa.fa-pencil-square-o{ sytle: 'font-size: 30px' }

  - if @user.bar_code
    %button#qr-btn
      %i.fa.fa-qrcode{ style: 'font-size: 30px' }
  - else
    %p No Bar Code

  - if @user.id == current_user.id
    - if current_user.bar_code
      %button
        = link_to edit_bar_code_path do
          %i.fa.fa-pencil-square{ style: 'font-size: 30px' }
    - else
      %button
        = link_to new_bar_code_path do
          %i.fa.fa-pencil-square{ style: 'font-size: 30px' }

  - if @user.bar_code
    #qr-div
      = image_tag @user.bar_code.pic.url(:original)

#user-rank
  %p
    %span Rate
    %input#review-rate{ type: 'number', min: '1', max: '5' }
  %p
    %span Review
    %textarea#review-review{ cols: '30', rows: '3', placeholder: 'review' }
  %button#review-btn{ type: 'button', data: { userid: @user.id, rid: current_user.id }} SEND

  .container
    #reviews
      - @user.reviews.each do |review|
        %p
          %strong= "Nickname: #{User.find_by(id: review.reviewer_id).try(:nickname)}"
          %h4= "Rate: #{review.rate}"
          = "Review: #{review.review}"
