.img-container
  = image_tag 'strategy.jpeg'
  = link_to '攻略', strategy_path

.img-container
  = image_tag 'zhao.jpeg'
  = link_to '找小明', new_tweet_path

.img-container
  = image_tag 'about.jpeg'
  = link_to '关于我们', about_path
