!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title 小明
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{src: "https://use.fontawesome.com/014ec5fd76.js"}
    %script{src: "//maps.google.com/maps/api/js?v=3.23&key=AIzaSyCK7YFK6nwkpQSUcbz4z2Kv_Ai-kUlFeYM"}
  %body
    .logo-contain
      %a{:href => "/"}
        = image_tag ('logo.jpeg'), size: "180x180", id: "logo"

    .center
      = yield

    %header
      =render :partial => 'layouts/header'

    .bottom-padding